/dist
/node_modules
/.angular
/packages/tokens/css
/packages/tokens/fonts
/packages/tokens/brand
apps/docs/src/app/catalog/*.generated.json
package-lock.json
/test-results
/playwright-report
CHANGELOG.md
/packages/vue/dist
/packages/vue/src/components/icon/icons.generated.ts
/packages/vue/src/styles/hosts.generated.css
